.bg {
    background-image: url("img/background.jpg");
}

.bg1 {
    background-image: url(https://bestanimations.com/media/discs/895872755cd-animated-gif-9.gif#.YhFf4JzvItk.link);
    
}

.outline {
    background-color: aliceblue;
}